* {
    padding-left: 30px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
   }

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #a5a5a5;
    text-decoration: none;
}

.empty {
    height: 50px;
}

#lyrics {
    /* color: black; */
    font-size: 45px;
    font-weight: 400;
}

h1 {
    padding: 20px;
}